*{
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    background: url(../img/img.jpg) 0 0 no-repeat;
}
.wrapper{
    margin: 30px;
}
.wrapper canvas{
    border:3px solid yellowgreen;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #888;
    margin-bottom: 20px;
}
.wrapper .btn-list{
    margin-top: 10px;
    width: 1000px;
    text-align: center;
}
.wrapper .btn-list li{
    display: inline-block;
    margin-left: 40px;
}
.wrapper .btn-list li input{
    display:block;
    background: #ff9;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 25px;
    transition-duration: 0.2s;
}

input[type='range'] {
    -webkit-appearance: none;
    background: #ff9;
    border-radius: 25px;
    margin-left:50px;
    /*这个属性设置使填充进度条时的图形为圆角 */
  } 

.wrapper .btn-list li input:hover{
    background:yellow;
    border: 3px solid yellowgreen;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.3);
}

input[type='range']:hover{
    background: yellow;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.3);
}